{%extends 'base.html'%}

{%block info%}
<div class="jumbotron jumbotron-fluid container text-center mt-5">
    <div class="container">
        <h1 class="display-1">{{band.name}}</h1>
    </div>
</div>
{%endblock info%}

{%block content%}
<div class="container mt-2">
    <div class="bnd-cnt">
        <div class="bnd-item">
            <div class="blackout">
                {%if i.photo%}
                <img src="{{i.photo.url}}" alt="123" class="bnd-photo">
                {%else%}
                <img src="https://i.pinimg.com/originals/c6/7d/fa/c67dfada3e9060a32334d4a6ce89119e.jpg" alt="1" class="bnd-photo">
                {%endif%}
            </div>
            <h5 class="bnd-title"><a class="bnd-link" href="/">{{band.albums.name}}</a></h5>
        </div>
    </div>
</div>
{%endblock content%}
